/* learning source https://www.youtube.com/watch?v=H4MkGzoACpQ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 8vh;
}

.nav-links {
  /* z-index: 99; */
  display: flex;
  list-style: none;
  width: 40%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.nav-links li a {
  color: #212529;
  text-decoration: none;
  font-size: 1em;
}

.logo {
  width: 50px;
  /* z-index: 100; */
  padding-top: 10px;
  padding-left: 10px;
  cursor: pointer;
}

.logo:hover {
  opacity: 0.7;
  transition: all 0.5s ease-out;
}

@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: #212529;
    margin: 5px;
  }
  nav {
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-links {
    padding: 10em;
    justify-content: center;
    position: fixed;
    background: #17A8A8;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .landing {
    flex-direction: column;
  }
  .nav-links li {
    opacity: 1;
  }
  .nav-links li a {
    line-height: 3em;
    font-size: 32px;
    /* font-weight: bold; */
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.1s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.3s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.4s;
  }
  li.fade {
    opacity: 1;
  }
}
