body {
  font-family: 'Montserrat', sans-serif;
}
.border{
  border: 1px solid black;
}

.title {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	padding: 2rem;
	max-width: 960px;
	text-align: center;
}
.title .line {
	background: #212529;
	height: 2px;
	width: 70px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
.title h1 {
	font-size: 40px;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 0.85;
	margin-bottom: 28px;
	margin: 0;
	padding: 0;
	color: #212529;
}

.title h2 {
	font-size: 3em;
	font-weight: 300;
	/* text-transform: uppercase; */
	line-height: 0.85;
	margin-bottom: 28px;
	margin: 0;
	padding: 0;
	color: #212529;
}

.title p {
	color: #212529;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0px;
	margin-top: 50px;
}

.text-logo-color {
  color: #17A8A8;
}
.sub-headline{
  color: #212529;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0px;
	margin-top: 0px;
}

.head-content{
font-size: 40px;
  font-weight: 300;
  font-family: 'Righteous', cursive;
}
.sub-head-content{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
.h1-headline {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.h2-layer-headline {
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.h3-section-headline{
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
.h4-section-subtitle{
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
.h5-text-footer{
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.h6-text-body{
  font-size: 16px;
  line-height: 1.5;
  color: #58595b;
   font-family: 'Montserrat', sans-serif;
}
/* start header */

/* Header Section
********************************************************************* */

#header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
  width: 100%;
  height: 100vh;
  /* border: 1px solid black; */
}
#header > .title {
  transform: translate(0, -20%);
}

.header2 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.05);
  /* background-image: url("https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/62549876_2762755357074109_8933470153920741376_n.jpg?_nc_cat=106&_nc_oc=AQkq6A50ykX_w2vtaxS-42pws6UdQ7otU6_I9s2yIHpc04ILoaNaGybPwXohhNy1az8&_nc_ht=scontent-sea1-1.xx&oh=d49ee4ae7563009365a8bc2e6fc47318&oe=5ED6B9E9"); */
}
.header2 > .title > h2 {
  transform: translate(0, -50%);
}

.button{
  text-align: center;
  position: relative;
  display: inline-block;
  border: 1px #17A8A8 solid;
  /*background-color: #17A8A8;*/
  color: #17A8A8;
  font-size: 16px;
  font-weight: 400;
  height: 35px;
  width: 142px;
  padding: 6px 20px 5px 20px;
  cursor: pointer;
 /* box-shadow: 0 0 10px #ddd;*/
  margin-bottom: 0;

}

/* .header2 > .title > a {
  transform: translate(0, 0);
} */

.button-resume{
  text-align: center;
  position: relative;
  display: inline-block;
  border: 1px #17A8A8 solid;
  color: #17A8A8;
  font-size: 14px;
  font-weight: 400;
  height: 30px;
  width: 200px;
  padding: 4px 10px 5px 10px;
  cursor: pointer;
}

.vertical-line {
  margin-bottom: 0;
  width: 2px;
  height: 30vh;
  background: #333333;

}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.me img {
  padding: 1em;
}

.quote{
    font-family: 'Dancing Script', cursive;
  }

footer{
  margin-top: 3em;
  padding-top: 3em;
  padding-bottom: 3em;
  text-align: center;
  color: #212529;
  bottom: 0;
  width: 100%;
  z-index: 9;

}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .title h1 {
  	font-size: 50px;
  }
  .title h2 {
    font-size: 4em;
  }

  .title p {
  	font-size: 16px;
  	letter-spacing: 5px;
  	margin-top: 50px;
  }

  .sub-headline{
  	font-size: 16px;
  	letter-spacing: 5px;
  	margin-top: -15px;
  }
}



@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .title h1 {
    font-size: 60px;
  }

  .button-resume{
    font-size: 16px;
    font-weight: 400;
    height: 35px;
    width: 250px;

  }

}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .title h1 {
  	font-size: 70px;
  }
  .me img {
    padding-right: 3em;
  }

}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .title h1 {
    font-size: 80px;
  }

  .me img {
    padding-right: 5em;
  }


}
