body {
  font-family: 'Montserrat', sans-serif;
}
.border{
  border: 1px solid black;
}
.border-white{
  border: 5px solid white;
}
.bg-main {
  background-color: rgba(23, 168, 168, 0.2);
}
.bg-itone{
  background-color: #C2DEFF !important;
}
.bg-brand{
  background-color: #D5E7E7 !important;
}
.bg-guro{
  background-color: #FFDD91 !important;
}
.bg-kiosk{
  background-color: #FFB4B0 !important;
}
.bg-clandestino {
  background-color: #F3E889 !important;
}
.bg-instagram{
  background-color: #D8C0DD !important;
}
.bg-zenyai{
  background-color: #FFEBA9 !important;
}
.bg-kleeniq{
  background-color: #D9ECD8 !important;
}
.container-invision {
  display: none;
}
.title {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	padding: 2rem;
	max-width: 960px;
	text-align: center;
}
.title .line {
	background: #212529;
	height: 2px;
	width: 70px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
.title h1 {
	font-size: 40px;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 0.85;
	margin-bottom: 28px;
	margin: 0;
	padding: 0;
	color: #212529;
}

.title h2 {
	font-size: 3em;
	font-weight: 300;
	/* text-transform: uppercase; */
	line-height: 0.85;
	margin-bottom: 28px;
	margin: 0;
	padding: 0;
	color: #212529;
}

.title p {
	color: #212529;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0px;
	margin-top: 24px;
}

.text-logo-color {
  color: #17A8A8;
}
.text-guro-color{
  color: #E38505;
}
.text-itone-color{
  color: #027DDE;
}
.text-instagram-color{
  color: #B02779;
}
.text-kiosk-color{
  color: #D34758;
}
.text-zenyai-color{
  color: #D59B28;
}
.text-clandestino-color {
  color: #EDDD27;
}
.text-kleeniq-color{
  color: #366104;
}
.text-brand-color {
  color: #17A8A8;
}

.sub-headline{
  color: #212529;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0px;
	margin-top: 0px;
}

.head-content{
font-size: 40px;
  font-weight: 300;
  font-family: 'Righteous', cursive;
}
.sub-head-content{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
.h1-headline {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.h2-layer-headline {
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.h3-section-headline{
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
.h4-section-subtitle{
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
.h5-text-footer{
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.h6-text-body{
  font-size: 16px;
  line-height: 1.5;
  color: #58595b;
  font-family: 'Montserrat', sans-serif;
}

/* .height-100 {
  height: 100px;
} */
.height-150 {
  height: 150px;
}
.height-250 {
  height: 250px;
}
.width-75 {
  width: 75px;
}
.width-125 {
  width: 125px;
}
.width-150 {
  width: 150px;
}
.width-100 {
  width: 100px;
}
.width-150 {
  width: 150px;
}
.width-200 {
  width: 200px;
}
.width-300 {
  width: 300px;
}
.width-350 {
  width: 350px;
}
.width-400 {
  width: 400px;
}
.width-500 {
  width: 500px;
}


/* start header */
/* Header Section
********************************************************************* */

.header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
  width: 100%;
  height: 75vh;
  /* border: 1px solid black; */
}

.header2 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  /* background-image: url("https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/62549876_2762755357074109_8933470153920741376_n.jpg?_nc_cat=106&_nc_oc=AQkq6A50ykX_w2vtaxS-42pws6UdQ7otU6_I9s2yIHpc04ILoaNaGybPwXohhNy1az8&_nc_ht=scontent-sea1-1.xx&oh=d49ee4ae7563009365a8bc2e6fc47318&oe=5ED6B9E9"); */
}
.header2 > .title > h2 {
  transform: translate(0, -50%);
}

.button{
  text-align: center;
  position: relative;
  display: inline-block;
  border: 2px #212529 solid;
  /*background-color: #17A8A8;*/
  color: #212529;
  font-size: 16px;
  font-weight: 400;
  padding: 6px 20px 5px 20px;
  cursor: pointer;
 /* box-shadow: 0 0 10px #ddd;*/
  margin-bottom: 0;

}

/* .header2 > .title > a {
  transform: translate(0, 0);
} */

.button-resume{
  text-align: center;
  position: relative;
  display: inline-block;
  border: 1px #17A8A8 solid;
  color: #17A8A8;
  font-size: 14px;
  font-weight: 400;
  height: 30px;
  width: 200px;
  padding: 4px 10px 5px 10px;
  cursor: pointer;
}

.vertical-line {
  margin-bottom: 0;
  width: 2px;
  height: 30vh;
  background: #333333;

}


.img-fluid {
  max-width: 100%;
  height: auto;
}

.me img {
  padding: 1em;
}

.quote{
    font-family: 'Dancing Script', cursive;
  }

/* ----------------------- resume collapse -------------------- */


.accordion {
  /* background-color: rgba(0, 0, 0, 0.05); */
  cursor: pointer;
  /* margin-top: 2em; */
  padding: 1em;
  width: 100%;
  text-align: left;
  border: 1px solid white;
  /* transition: all 0.5s ease-out; */
  outline: none;


}
.accordion:focus{
  outline: none;
}

.panel {
  padding: 2em;
  background-color: white;
  /* border: 1px solid rgba(0, 0, 0, 0.05); */
  display: none;
  overflow: hidden;
  /* transition: all 0.5s ease-out; */
  /* transition: height 200ms; */

}

.active, .accordion:hover {
  /* background-color: rgba(0, 0, 0, 0.05); */

}
.accordion:after {

  content: '\02795';/* unicode charactor for + sign */
  float: right;
  font-size: 14px;
}
.active:after {
  content: '\2796';/* unicode charactor for + sign */
  float: right;
  font-size: 14px;


}
/* ---------------------------- end --------------------------- */

.front-content {
  height: 70vh;
}
.front-content img {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.front-content2 {
  height: 70vh;
}
.front-content2 img {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.front-content3 {
  height: 70vh;
}
.front-content3 img {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.front-content4 {
  height: 70vh;
}
.front-content4 img {
  width: 325px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*Start image zoom*/
/* Learning source https://codepen.io/zpipe07/pen/rVydym*/
.img-zoom {
   margin: 0 auto;
  width: 500px;
  overflow: hidden;
  font-size: 0;
}
img{
  transition: transform 0.5s ease-in-out;
}
.img-zoom:hover img {
  transform: scale(1.1);
}
/*end of image zoom*/

.mt-6{
  margin-top: 6em;;
}
.mt-7{
  margin-top: 7em;
}
.mt-8{
  margin-top: 8em;
}
.mt-9{
  margin-top: 9em;
}
.mt-100{
  margin-top: 100px;
}


.mb-6{
  margin-bottom: 6em;;
}
.mb-7{
  margin-bottom: 7em;
}
.mb-8{
  margin-bottom: 8em;
}
.mb-100{
  margin-top: 100px;
}


.p-100{
  padding: 100px;
}
.p-200{
  padding: 200px;
}

footer{
  padding-top: 3em;
  padding-bottom: 3em;
  text-align: center;
  color: #212529;
  bottom: 0;
  width: 100%;
  z-index: 9;

}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .container-invision {
      display: block;
    }

  .title h1 {
  	font-size: 50px;
  }
  .title h2 {
    font-size: 4em;
  }

  .title p {
  	font-size: 16px;
  	letter-spacing: 5px;
  	margin-top: 24px;
  }

  .sub-headline{
  	font-size: 16px;
  	letter-spacing: 5px;
  	margin-top: -15px;
  }
}



@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .container-bottom{
    display: none;
  }
  .title h1 {
    font-size: 50px;
  }

  .button-resume{
    font-size: 16px;
    font-weight: 400;
    height: 35px;
    width: 250px;

  }

}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .title h1 {
  	font-size: 60px;
  }
  .me img {
    padding-right: 3em;
  }

}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }


  .title h1 {
    font-size: 70px;
  }

  .me img {
    padding-right: 5em;
  }


}
